<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PokemonGO Sidekick</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/create">New Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">See you later!</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">New Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Have An Account?</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Let Me Assist You
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Evolutions</a></li>
              <li><a class="dropdown-item" href="#">Strengths</a></li>
              <li><a class="dropdown-item" href="#">Weaknesses</a></li>
            </ul>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>